#root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  // padding: 32px;
}

.storybook-welcome-wrap {
  display: flex;
  flex-direction: column;

  > * + * {
    margin-top: 32px;
  }
}
